<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='static/favicon.ico') }}">
    <link rel="stylesheet" href="static/style.css"/>

    <title>Joystick Event Test File</title>

  </head>

<!--
joystick_test.html
This file is an example/test file whose entire function is to determine
how to capture and use the various readings and attributes of the connected
joystick.

axis 0 is the left-right axis such that:
*  Axis 0 represents the angular deviation of the robot
   to the right or left.
*  x0 < 0 is a right turn
*  x0 > 0 is a left turn.
*  x0 = 0 represents no angular deviation at all.
   The trigonometric ratio between x0 and x1 determines the "sharpness"
   of the turn.

axis 1 is the forward-backward axis such that:
*  Axis 1 represents the velocity of the robot. (speed of motion)
*  x1 < 0 is forward motion
*  x1 > 0 is backward motion
*  x1 = 0 represents no forward or backward velocity at all.
*  The trigonometric ratio of x0 and x1 determines if the forward
   or backward path is curved or straight.

The special case where both x0 and x1 = 0 is the stopped state
where there is no motion in any direction.  This is further
guaranteed by setting all angles and velocities to zero.
//-->

  <body>

    <div class="container">
        <div class="robot">
            GoPiGo3 - Joystick Test File
            <ul>
                <li id="state">State: Stop</li>
                <li id="angle_deg">Angle Degrees: 0.00°</li>
                <li id="angle_dir">Angle Direction: none</li>
                <li id="force">Joystick Force: 0.00</li>
                <li id="status">Joystick Status: Not Set</li>
                <li id="index">Joystick Index: 0.00</li>
                <li id="id">Joystick ID: Not Set</li>
                <li id="num_buttons">Number of Joystick Buttons: 0.00</li>
                <li id="num_axes">Number of Joystick Axes: 0.00</li>
                <li id="axis0">Value of Axis 0: 0.00</li>
                <li id="axis1">Value of Axis 1: 0.00</li>
                <li id="axis2">Value of Axis 2: 0.00</li>
                <li id="axis3">Value of Axis 3: 0.00</li>
                <li id="axis4">Value of Axis 4: 0.00</li>
            </ul>
        </div>
    </div>

    <script>
        var joystick_data;
        var width = 1280;
        var joystick_size_factor = 1280;
        var joystick_default_size = 150;
        var joystick_current_size = joystick_default_size * width / joystick_size_factor;
        var server_address = window.location.protocol + "//" + window.location.host + "/robot";

        // the data that's transformed as a query and sent to the server
        // changes while the joystick is used
        var gopigo3_orientation = {
            state: 'stop',
            angle_degrees: 0.00,
            angle_dir: 'none',
            force: 0.00
        };

        //  Create variable for storing joystick data
        var joystick_status = {
            status: '',
            index: -1,
            id: '',
            num_buttons: 0,
            num_axes: 0,
        }

        window.addEventListener("gamepadconnected", function(e) {
            joystick_status.status = "Connected";
            joystick_status.index = e.gamepad.index;
            joystick_status.id = e.gamepad.id;
            joystick_status.num_buttons = e.gamepad.buttons.length;
            joystick_status.num_axes = e.gamepad.axes.length;
            read_gamepad(joystick_status.index);
            setOnScreen(gopigo3_orientation, joystick_status, joystick_data);
});

        // Function to poll the gamepad, called from the "animation" loop
        function read_gamepad() {
            if (joystick_status.status == "Connected:") {
                joystick_data = navigator.getGamepads()[joystick_status.index];
//                requestAnimationFrame(read_gamepad(joystick_status.index));
            }
            else {
                return(0);
            }
        }

        window.addEventListener("gamepaddisconnected", function(e) {
            joystick_status.status = "Disconnected";
            joystick_status.index = -1;
            joystick_status.id = '';
            joystick_status.num_buttons = 0;
            joystick_status.num_axes = 0;
            read_gamepad(joystick_status.index);
            setOnScreen(gopigo3_orientation, joystick_status, joystick_data);
});

//  Add section for keyboard listener
        document.addEventListener('keydown', (event) => {
            const keyName = event.key;

            if (keyName === 'Home') {
                gopigo3_orientation.state = keyName;
                gopigo3_orientation.angle_degrees = 0.00;
                gopigo3_orientation.angle_dir = 'none';
                gopigo3_orientation.force = 0.00;
            }

            else if (keyName === 'ArrowUp') {
                gopigo3_orientation.state = keyName;
                gopigo3_orientation.angle_degrees = 0.00;
                gopigo3_orientation.angle_dir = 'Up';
                gopigo3_orientation.force = 100.00;
            }

            else if (keyName === 'ArrowDown') {
                gopigo3_orientation.state = keyName;
                gopigo3_orientation.angle_degrees = 180.00;
                gopigo3_orientation.angle_dir = 'Down';
                gopigo3_orientation.force = 50.00;
            }

            else if (keyName === 'ArrowLeft') {
                gopigo3_orientation.state = keyName;
                gopigo3_orientation.angle_degrees = 270.00;
                gopigo3_orientation.angle_dir = 'Left';
                gopigo3_orientation.force = 25.00;
            }

            else if (keyName === 'ArrowRight') {
                gopigo3_orientation.state = keyName;
                gopigo3_orientation.angle_degrees = 90.00;
                gopigo3_orientation.angle_dir = 'Right';
                gopigo3_orientation.force = 12.50;
            }

            else {
                gopigo3_orientation.state = 'unknown';
                gopigo3_orientation.angle_degrees = -100.00;
                gopigo3_orientation.angle_dir = 'The Twilight Zone';
                gopigo3_orientation.force = -100.00;
            }
            read_gamepad(joystick_status.index);
            setOnScreen(gopigo3_orientation, joystick_status, joystick_data);
        }, false);

        // change the on-screen data
        function setOnScreen(gpg_orientation, jstick_status, jstick_data) {
            document.getElementById('state').innerHTML = "State: " + gpg_orientation.state
            document.getElementById('angle_deg').innerHTML = 'Angle Degrees: ' + gpg_orientation.angle_degrees.toFixed(2) + '&deg;';
            document.getElementById('angle_dir').innerHTML = 'Angle Direction: ' + gpg_orientation.angle_dir;
            document.getElementById('force').innerHTML = 'Joystick Force: ' + gpg_orientation.force.toFixed(2);
            document.getElementById('status').innerHTML = 'Joystick Status: ' + jstick_status.status;
            document.getElementById('index').innerHTML = 'Joystick Index: ' + jstick_status.index;
            document.getElementById('id').innerHTML = 'Joystick ID: ' + jstick_status.id;
            document.getElementById('num_buttons').innerHTML = 'Number of Joystick Buttons: ' + jstick_status.num_buttons;
            document.getElementById('num_axes').innerHTML = 'Number of Joystick Axes: ' + jstick_status.num_axes;
            document.getElementById('axis0').innerHTML =  'Value of Axis 0: ' +  jstick_data.axes[0];
            document.getElementById('axis1').innerHTML =  'Value of Axis 1: ' +  jstick_data.axes[1];
            document.getElementById('axis2').innerHTML =  'Value of Axis 2: ' +  jstick_data.axes[2];
            document.getElementById('axis3').innerHTML =  'Value of Axis 3: ' +  jstick_data.axes[3];
            document.getElementById('axis4').innerHTML =  'Value of Axis 4: ' +  jstick_data.axes[4];
        }
//        start = requestAnimationFrame(read_gamepad(joystick_status.index));
    </script>
  </body>
</html>
