<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='static/favicon.ico') }}">
    <link rel="stylesheet" href="static/style.css"/>
    <script src="static/jquery-3.2.1.min.js"></script>
    <script src="static/throttle.js"></script>

    <title>Remote GoPiGo3 - Joystick</title>

  </head>
  <body>

    <div class="container">
        <div id="zone_joystick">
          <script language="JavaScript">
            document.write('<img id="video_source" src="' + window.location.protocol + '//' + window.location.hostname + ':5001' + '/stream.mjpg' + '"/>' );
          </script>

        </div>
        <div class="robot">
            GoPiGo3 - Live Stream
            Joystick Contoller Version
            <ul>
                <li id="state">Robot's Motion State: Stopped</li>
                <li id="angle_dir">Robot's Direction: Stopped</li>
                <li id="x_axis">X-Axis: 0.00</li>
                <li id="y_axis">Y-Axis: 0.00</li>
                <li id="force">Joystick Force: 0.00</li>
            </ul>
        </div>
    </div>

    <script>
      var server_address = window.location.protocol + "//" + window.location.host + "/robot";
      var joystick_data
      var js

      // the data that's transformed as a query and sent to the server
      // changes while the joystick is used
      var gopigo3_orientation = {
          state: 'Stopped',
          angle_dir: 'Stopped',
          x_axis: 0.00,
          y_axis: 0.00,
          force: 0.00
      };

      window.addEventListener("gamepadconnected", (event) => {
        js = event.gamepad;
          console.log("A gamepad was connected:");
          get_data();  //  Kicks off the first animation frame cycle.
      });

      window.addEventListener("gamepaddisconnected", (event) => {
        console.log("A gamepad was disconnected:");
        console.log(event.gamepad);
        reset_gamepad_data();
      });

      function  get_gamepad_data() {
        js = (navigator.getGamepads && navigator.getGamepads()) || (navigator.webkitGetGamepads && navigator.webkitGetGamepads());
        console.log("\nthe 'navigator.getGamepads()' (js) value is:");
        console.log(js);

        console.log("js[0]");
        console.log(js[0]);

        // Having retrieved the gapepad object, we populate the on-screen data
        setOnScreen(js[0]);

        // Because the Gamepad methods are expected to be used in the context of an animated
        // raster sprite image, the methods (apear to) implicitly or explicitly expect to be
        // a part of an animation loop, even if no real animation is being done.
        // This is done initially by the "get_data" function to kick things off.
        // (I don't know why, but this seems to be a requirement and should be done
        //  by the "connected" event handler.)
        // This is done again here to cause the code to loop on the "animation" and grab the data.

        // Here we loop on the requestAnimationFrame after a timeout (in ms) to prevent
        // saturating the network every 1/60th second (or faster)
        setTimeout(get_data, 125);
      return;
      }

        document.getElementById('zone_joystick').onclick = createNipple;
        // function for throttling the rate of sending data
        // sends data every 250 ms
        var send_throttled_data = throttle(function(server_address, query_string, sent_data){
            setOnScreen(sent_data);
            console.log('move robot', sent_data);

            $.post(server_address + query_string);
        }, 250);

        // after creating the joystick, state some event handlers for it
        function bindNipple() {

            // when the joystick is moved around, send data to the server
            joystick.on('move dir', function(evt, data) {

              gopigo3_orientation.state = 'move';
              gopigo3_orientation.angle_degrees = data.angle.degree;
              if('direction' in data) {
                gopigo3_orientation.angle_dir = data.direction.angle;
              }
              gopigo3_orientation.force = data.force;
              query_string = '?' + $.param(gopigo3_orientation);

              // use the following function instead the usual $.post
              // so that we can throttle the rate of sending data
              // good practice for not "choking" the network
              send_throttled_data(server_address, query_string, gopigo3_orientation);
            })

            // when the joystick is released, send the stop command
            // for stopping the robot from moving
            joystick.on('end', function(evt, data) {

                setTimeout(function(){
                    gopigo3_orientation.state = 'Stopped';
                    gopigo3_orientation.angle_dir = 'Stopped';
                    gopigo3_orientation.x_axis = 0.00;
                    gopigo3_orientation.y_axis = 0.00;
                    gopigo3_orientation.force = 0.00;
                    query_string = '?' + $.param(gopigo3_orientation);

                    setOnScreen(gopigo3_orientation);
                    console.log('Robot is now stopped', gopigo3_orientation);

                    $.post(server_address + query_string);

                }, 300);

            })
        }

        // for creating a new on-screen joystick
        function createNipple(evt) {
            var type = typeof evt === 'string' ? evt : evt.target.getAttribute('data-type');
            if (joystick) {
              joystick.destroy();
            }
            joystick = nipplejs.create(joystick_config);
            bindNipple();
        }

        // resize the joystick depending on the width length
        window.onresize = function(){
            width = document.getElementById('zone_joystick').offsetWidth;
            joystick_current_size = joystick_default_size * width / joystick_size_factor;
            joystick_config.size = joystick_current_size;
        }

        // change the on-screen data
        function setOnScreen(data) {
            document.getElementById('state').innerHTML = "Robot's Motion State: " + data.state
            document.getElementById('angle_dir').innerHTML = "Robot's Direction: " + data.angle_dir;
            document.getElementById('x_axis').innerHTML = "X-Axis: " + x_axis;
            document.getElementById('y_axis').innerHTML = "Y-Axis: " + y_axis;
            document.getElementById('force').innerHTML = 'Joystick Force: ' + data.force.toFixed(2);
        }

    </script>
  </body>
</html>
