<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='static/favicon.ico') }}">
    <link rel="stylesheet" href="static/style.css"/>

    <title>Joystick Event Test File</title>

  </head>
  <body>

    <div class="container">
        <div class="robot">
            GoPiGo3 - Joystick Test File
            <ul>
                <li id="state">State: Stop</li>
                <li id="angle_deg">Angle Degrees: 0.00°</li>
                <li id="angle_dir">Angle Direction: none</li>
                <li id="force">Joystick Force: 0.00</li>
                <li id="status">Joystick Status: Not Set</li>
                <li id="index">Joystick Index: 0.00</li>
                <li id="id">Joystick ID: Not Set</li>
                <li id="num_buttons">Number of Joystick Buttons: 0.00</li>
                <li id="num_axes">Number of Joystick Axes: 0.00</li>
            </ul>
        </div>
    </div>

    <script>
        var joystick;
        var width = 1280;
        var joystick_size_factor = 1280;
        var joystick_default_size = 150;
        var joystick_current_size = joystick_default_size * width / joystick_size_factor;
        var server_address = window.location.protocol + "//" + window.location.host + "/robot";

        // the data that's transformed as a query and sent to the server
        // changes while the joystick is used
        var gopigo3_orientation = {
            state: 'stop',
            angle_degrees: 0.00,
            angle_dir: 'none',
            force: 0.00
        };

        //  Create variable for storing joystick data
        var joystick_status = {
            status: "Not Set",
            index: 0.00,
            id: "Not Set",
            num_buttons: 0.00,
            num_axes: 0.00,
        }

        window.addEventListener("gamepadconnected", function(e) {
            joystick_status.status = "Connected";
            joystick_status.index = e.gamepad.index;
            joystick_status.id = e.gamepad.id;
            joystick_status.num_buttons = e.gamepad.buttons.length;
            joystick_status.num_axes = e.gamepad.axes.length;
            setOnScreen(gopigo3_orientation, joystick_status);
});

        window.addEventListener("gamepaddisconnected", function(e) {
            joystick_status.status = "Disconnected";
            joystick_status.index = -1;
            joystick_status.id = 'none';
            joystick_status.num_buttons = -1;
            joystick_status.num_axes = -1;
            setOnScreen(gopigo3_orientation, joystick_status);
});

//  Add section for keyboard listener
        document.addEventListener('keydown', (event) => {
            const keyName = event.key;

            if (keyName === 'Home') {
                gopigo3_orientation.state = keyName;
                gopigo3_orientation.angle_degrees = 0.00;
                gopigo3_orientation.angle_dir = 'none';
                gopigo3_orientation.force = 0.00;
            }

            else if (keyName === 'ArrowUp') {
                gopigo3_orientation.state = keyName;
                gopigo3_orientation.angle_degrees = 0.00;
                gopigo3_orientation.angle_dir = 'Up';
                gopigo3_orientation.force = 100.00;
            }

            else if (keyName === 'ArrowDown') {
                gopigo3_orientation.state = keyName;
                gopigo3_orientation.angle_degrees = 180.00;
                gopigo3_orientation.angle_dir = 'Down';
                gopigo3_orientation.force = 50.00;
            }

            else if (keyName === 'ArrowLeft') {
                gopigo3_orientation.state = keyName;
                gopigo3_orientation.angle_degrees = 270.00;
                gopigo3_orientation.angle_dir = 'Left';
                gopigo3_orientation.force = 25.00;
            }

            else if (keyName === 'ArrowRight') {
                gopigo3_orientation.state = keyName;
                gopigo3_orientation.angle_degrees = 90.00;
                gopigo3_orientation.angle_dir = 'Right';
                gopigo3_orientation.force = 12.50;
            }

            else {
                gopigo3_orientation.state = 'unknown';
                gopigo3_orientation.angle_degrees = -100.00;
                gopigo3_orientation.angle_dir = 'The Twilight Zone';
                gopigo3_orientation.force = -100.00;
            }
            setOnScreen(gopigo3_orientation, joystick_status);
        }, false);


        // change the on-screen data
        function setOnScreen(data, stick) {
            document.getElementById('state').innerHTML = "State: " + data.state
            document.getElementById('angle_deg').innerHTML = 'Angle Degrees: ' + data.angle_degrees.toFixed(2) + '&deg;';
            document.getElementById('angle_dir').innerHTML = 'Angle Direction: ' + data.angle_dir;
            document.getElementById('force').innerHTML = 'Joystick Force: ' + data.force.toFixed(2);
            document.getElementById('status').innerHTML = 'Joystick Status: ' + stick.status;
            document.getElementById('index').innerHTML = 'Joystick Index: ' + stick.index;
            document.getElementById('id').innerHTML = 'Joystick ID: ' + stick.id;
            document.getElementById('num_buttons').innerHTML = 'Number of Joystick Buttons: ' + stick.num_buttons;
            document.getElementById('num_axes').innerHTML = 'Number of Joystick Axes: ' + stick.num_axes;
        }

    </script>
  </body>
</html>
