<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>Joystick Event Test File</title>

  </head>

  <body>

    <div class="container">
        <div class="robot">
            Joystick Test File - Second Try
            <ul>
                <li id="state">State: Not Set</li>
                <li id="angle_deg">Angle Degrees: 999°</li>
                <li id="angle_dir">Angle Direction: Not Set</li>
                <li id="force">Joystick Force: 999</li>
                <li id="status">Joystick Connection Status: Not Set</li>
                <li id="index">Joystick Index: 999</li>
                <li id="id">Joystick ID: Not Set</li>
                <li id="num_buttons">Number of Joystick Buttons: 999</li>
                <li id="num_axes">Number of Joystick Axes: 999</li>
                <li id="axis0">Value of Axis 1: 999</li>
                <li id="axis1">Value of Axis 1: 999</li>
                <li id="axis2">Value of Axis 2: 999</li>
                <li id="axis3">Value of Axis 3: 999</li>
                <li id="axis4">Value of Axis 4: 999</li>
                <li id="button0">Value of Button 0: 999</li>
                <li id="button1">Value of Button 1: 999</li>
                <li id="button2">Value of Button 2: 999</li>
                <li id="button3">Value of Button 3: 999</li>
                <li id="button4">Value of Button 4: 999</li>
            </ul>
        </div>
    </div>

    <p id="demo"></p>

<script>
// All the Javascript stuff goes here
//
var joystick_data
var js

window.addEventListener("gamepadconnected", (event) => {
  js = event.gamepad;
    console.log("A gamepad was connected:");
    get_data();  //  Kicks off the first animation frame cycle.
});

window.addEventListener("gamepaddisconnected", (event) => {
  console.log("A gamepad was disconnected:");
  console.log(event.gamepad);
  reset_gamepad_data();
});

function  get_gamepad_data() {
  js = (navigator.getGamepads && navigator.getGamepads()) || (navigator.webkitGetGamepads && navigator.webkitGetGamepads());
  console.log("\nthe 'navigator.getGamepads()' (js) value is:");
  console.log(js);

  console.log("js[0]");
  console.log(js[0]);

  // Having retrieved the gapepad object, we populate the on-screen data
  setOnScreen(js[0]);

  // Because the Gamepad methods are expected to be used in the context of an animated
  // raster sprite image, the methods (apear to) implicitly or explicitly expect to be
  // a part of an animation loop, even if no real animation is being done.
  // This is done initially by the "get_data" function to kick things off.
  // (I don't know why, but this seems to be a requirement and should be done
  //  by the "connected" event handler.)
  // This is done again here to cause the code to loop on the "animation" and grab the data.

  // Here we loop on the requestAnimationFrame after a timeout (in ms) to prevent
  // saturating the network every 1/60th second (or faster)
  setTimeout(get_data, 125);
return;
}

// change the on-screen data
//function setOnScreen(jstick_data) {}
function setOnScreen(jstick_data) {
  var jstick_status = "Disconnected";

  if (jstick_data.connected == true) jstick_status = "Connected"
  document.getElementById('status').innerHTML = 'Joystick Connection Status: ' + jstick_status;
  document.getElementById('index').innerHTML = 'Joystick Index: ' + jstick_data.index;
  document.getElementById('id').innerHTML = 'Joystick ID: ' + jstick_data.id;
  document.getElementById('num_buttons').innerHTML = 'Number of Joystick Buttons: ' + jstick_data.buttons.length;
  document.getElementById('num_axes').innerHTML = 'Number of Joystick Axes: ' + jstick_data.axes.length;
  document.getElementById('axis0').innerHTML =  'Value of Axis 0: ' +  Number.parseFloat(jstick_data.axes[0]).toFixed(2);
  document.getElementById('axis1').innerHTML =  'Value of Axis 1: ' +  Number.parseFloat(jstick_data.axes[1]).toFixed(2);
  document.getElementById('axis2').innerHTML =  'Value of Axis 2: ' +  Number.parseFloat(jstick_data.axes[2]).toFixed(2);
  document.getElementById('axis3').innerHTML =  'Value of Axis 3: ' +  Number.parseFloat(jstick_data.axes[3]).toFixed(2);
  document.getElementById('axis4').innerHTML =  'Value of Axis 4: ' +  Number.parseFloat(jstick_data.axes[4]).toFixed(2);
  document.getElementById('button0').innerHTML =  'Value of Button 0: ' +  jstick_data.buttons[0].pressed;
  document.getElementById('button1').innerHTML =  'Value of Button 1: ' +  jstick_data.buttons[1].pressed;
  document.getElementById('button2').innerHTML =  'Value of Button 2: ' +  jstick_data.buttons[2].pressed;
  document.getElementById('button3').innerHTML =  'Value of Button 3: ' +  jstick_data.buttons[3].pressed;
  document.getElementById('button4').innerHTML =  'Value of Button 4: ' +  jstick_data.buttons[4].pressed;
}

//  This function is called by the "connected" event handler code to "kick-off" the animation
//  timing sequence for reading the joystick.
function get_data() {
  requestAnimationFrame(get_gamepad_data);
}
</script>
