<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='static/favicon.ico') }}">
    <link rel="stylesheet" href="static/style.css"/>
    <script src="static/jquery-3.2.1.min.js"></script>
    <script src="static/throttle.js"></script>

    <title>Remote GoPiGo3 - Joystick</title>

  </head>
  <body>

    <div class="container">
        <div id="zone_joystick">
          <script language="JavaScript">
            document.write('<img id="video_source" src="' + window.location.protocol + '//' + window.location.hostname + ':5001' + '/stream.mjpg' + '"/>' );
          </script>

        </div>
        <div class="robot">
            GoPiGo3 - Live Stream
            Joystick Contoller Version
            <ul>
                <li id="state">Robot's Motion State: Disconnected</li>
                <li id="angle_dir">Robot's Direction: Stopped</li>
                <li id="x_axis">X-Axis: 0.00</li>
                <li id="y_axis">Y-Axis: 0.00</li>
                <li id="force">Joystick Force: 0.00</li>
            </ul>
        </div>
    </div>

    <script>
      "use strict";  // enforces "strict" type and syntax checking (i.e. no sloppy code allowed!)

      var server_address = window.location.protocol + "//" + window.location.host + "/robot";
      var joystick_data
      var js

      // the data that's transformed as a query and sent to the server
      // changes while the joystick is used
      var gopigo3_orientation = {
          state: 'Disconnected',
          visible_state: 'Waiting for Joystick',
          angle_dir: 'Stopped',
          x_axis: 0.00,
          y_axis: 0.00,
          head_x_axis: 0.00,
          head_y_axis: 0.00,
          force: 0.00
      };

      window.addEventListener("gamepadconnected", (event) => {
        js = event.gamepad;
          console.log("A gamepad was connected:");
          gamepad_connected();  // Gamepad is now connected
          get_data();  // Tell the robot and start accumulating data
      });

      window.addEventListener("gamepaddisconnected", (event) => {
        console.log("A gamepad was disconnected:");
        gopigo3_orientation.state = "Disconnected"; // Joystick disconnected, so set state to "diusconnected"
        gopigo3_orientation.visible_state = 'Waiting for Joystick';
        console.log(event.gamepad);
        gamepad_disconnected(); // clear out stale data
        get_data(); // send it to the server
      });

      function  get_gamepad_data() {
        js = (navigator.getGamepads && navigator.getGamepads()) || (navigator.webkitGetGamepads && navigator.webkitGetGamepads());
        console.log("\nthe 'navigator.getGamepads()' (js) value is:");
        console.log(js);

        console.log("js[0]");
        console.log(js[0]);

        collate_data(js[0]);  // send data to be normalized and packaged

        // Having retrieved the gapepad object, we populate the on-screen data
        setOnScreen(gopigo3_orientation);

        // Here we loop on the requestAnimationFrame after a timeout (in ms) to prevent
        // saturating the network every 1/60th second (or faster)
        setTimeout(get_data, 125);
      return;
      }

// gamepad_connected is called during the event handling when a joystick
// is connected, and initializes the gamepad data to a sane "connected" value
      function gamepad_connected() {
        gopigo3_orientation.state = 'Stopped'; // Joystick connected but not moving
        gopigo3_orientation.visible_state = gopigo3_orientation.state;
        gopigo3_orientation.angle_dir = gopigo3_orientation.state;
        gopigo3_orientation.x_axis = 0.00;
        gopigo3_orientation.y_axis = 0.00;
        gopigo3_orientation.head_x_axis = 0.00;
        gopigo3_orientation.head_y_axis = 0.00;
        gopigo3_orientation.force = 0.00;
        send_data();
      }

      function gamepad_disconnected() {
        gopigo3_orientation.state = 'Disconnected';
        gopigo3_orientation.visible_state = 'Waiting for Joystick';
        gopigo3_orientation.angle_dir = 'Stopped';
        gopigo3_orientation.x_axis = 0.00;
        gopigo3_orientation.y_axis = 0.00;
        gopigo3_orientation.head_x_axis = 0.00;
        gopigo3_orientation.head_y_axis = 0.00;
        gopigo3_orientation.force = 0.00;
        send_data();
      };

//  Collate data collects all the data, normalizes it, packages it, and prepares
//  for transmission to the 'bot'
      function collate_data(jsdata) {
        gopigo3_orientation.x_axis = Number.parseFloat(jsdata.axes[0]).toFixed(2);
        gopigo3_orientation.y_axis = Number.parseFloat(jsdata.axes[1]).toFixed(2);
        gopigo3_orientation.head_x_axis = Number.parseFloat(jsdata.axes[4]).toFixed(2);
        gopigo3_orientation.head_y_axis = Number.parseFloat(jsdata.axes[3]).toFixed(2);
        gopigo3_orientation.force =  Math.abs(y_axis)

        if (force > 0) {  // robot is moving
          gopigo3_orientation.state = 'Moving';
          gopigo3_orientation.visible_state = gopigo3_orientation.state;
          if ( gopigo3_orientation.y_axis < 0) { // moving forward
            if (gopigo3_orientation.x_axis = 0) { // moving directly ahead
              gopigo3_orientation.angle_dir = 'Forward';
            } else if (gopigo3_orientation.x_axis < 0) {  // moving forward to the right
              gopigo3_orientation.angle_dir = 'Forward-Right';
            } else if (gopigo3_orientation.x_axis > 0) {  // moving foreard to the left
              gopigo3_orientation.angle_dir = 'Forward-Left';
            };
          } else if (gopigo3_orientation.y_axis >0) { // moving bacxkward
            if (gopigo3_orientation.x_axis = 0) { // moving directly backward
              gopigo3_orientation.angle_dir = 'Backward';
            } else if (gopigo3_orientation.x_axis < 0) {  // moving backward to the right
              gopigo3_orientation.angle_dir = 'Backward-Right';
            } else if (gopigo3_orientation.x_axis > 0) {  // moving foreard to the left
              gopigo3_orientation.angle_dir = 'Forward-Left';
            };
          } else {  // Robot is obviously stopped here as force must = 0
            gopigo3_orientation.state = 'Stopped';  // stopped so flush all variables
            gopigo3_orientation.visible_state = gopigo3_orientation.state;
            gopigo3_orientation.angle_dir = gopigo3_orientation.state;
            gopigo3_orientation.x_axis = 0.00;
            gopigo3_orientation.y_axis = 0.00;
            gopigo3_orientation.head_x_axis = 0.00;
            gopigo3_orientation.head_y_axis = 0.00;
            gopigo3_orientation.force = 0.00;
          };
        };
      }

      function send_data() {
        query_string = '?' + $.param(gopigo3_orientation);
        console.log('move robot', gopigo3_orientation);
        $.post(server_address + query_string);
      }

      // change the on-screen data
      function setOnScreen(data) {
          document.getElementById('state').innerHTML = "Robot's Motion State: " + data.visible_state;
          document.getElementById('angle_dir').innerHTML = "Robot's Direction: " + data.angle_dir;
          document.getElementById('x_axis').innerHTML = "X-Axis: " + data.x_axis;
          document.getElementById('y_axis').innerHTML = "Y-Axis: " + data.y_axis;
          document.getElementById('force').innerHTML = 'Joystick Force: ' + data.force.toFixed(2);
      }
    </script>
  </body>
</html>
