<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>Joystick Event Test File</title>

  </head>

  <body>

    <div class="container">
        <div class="robot">
            Joystick Test File - Second Try
            <ul>
                <li id="state">State: Stop</li>
                <li id="angle_deg">Angle Degrees: 1.00°</li>
                <li id="angle_dir">Angle Direction: none</li>
                <li id="force">Joystick Force: 1.00</li>
                <li id="status">Joystick Connection Status: Not Set</li>
                <li id="index">Joystick Index: 1.00</li>
                <li id="id">Joystick ID: Not Set</li>
                <li id="num_buttons">Number of Joystick Buttons: 0</li>
                <li id="num_axes">Number of Joystick Axes: 0</li>
                <li id="axis0">Value of Axis 1: 0</li>
                <li id="axis1">Value of Axis 1: 0</li>
                <li id="axis2">Value of Axis 2: 0</li>
                <li id="axis3">Value of Axis 3: 0</li>
                <li id="axis4">Value of Axis 4: 0</li>
                <li id="button0">Value of Button 0: 0</li>
                <li id="button1">Value of Button 1: 0</li>
                <li id="button2">Value of Button 2: 0</li>
                <li id="button3">Value of Button 3: 0</li>
                <li id="button4">Value of Button 4: 0</li>
            </ul>
        </div>
    </div>

    <p id="demo"></p>

<script>
// All the Javascript stuff goes here
//
var joystick_data

// Implement a "sleep" function
const sleep = (milliseconds) => {
return new Promise(resolve => setTimeout(resolve, milliseconds));
}

window.addEventListener("gamepadconnected", (event) => {
  joystick_data = event.gamepad;
    console.log("A gamepad was connected:");
    // console.log("joystick_data");
    // console.log(joystick_data);
    // console.log("joystick.data.id");
    // console.log(joystick_data.id);
    // console.log("joystick_data.buttons");
    // console.log(joystick_data.buttons);
    // console.log("joystick_data.buttons - joystick_data.buttons[23]");
    // console.log(joystick_data.buttons, " - ", joystick_data.buttons[23]);
    get_data();
});

window.addEventListener("gamepaddisconnected", (event) => {
  console.log("A gamepad was disconnected:");
  console.log(event.gamepad);
  get_gamepad_data();
});

function  get_gamepad_data() {
  var js = (navigator.getGamepads && navigator.getGamepads()) || (navigator.webkitGetGamepads && navigator.webkitGetGamepads());
  console.log("\nthe 'navigator.getGamepads()' (js) value is:");
  console.log(js);
  // // data from web-site
  console.log("js[0]");
  console.log(js[0]);
  // // Steering:
  // console.log("\njs[0].axes[0]");
  // console.log(js[0].axes[0]);
  // // Acceleration:
  // console.log("js[0].axes[1]");
  // console.log(js[0].axes[1]);
  // // Breaking:
  // console.log("js[0].axes[2]");
  // console.log(js[0].axes[2]);
  // // Buttons from 0, 1, and 2:
  // console.log("js[0].buttons[0]");
  // console.log(js[0].buttons[0]);
  // console.log("js[0].buttons[1]");
  // console.log(js[0].buttons[1]);
  // console.log("js[0].buttons[2]");
  // console.log(js[0].buttons[2]);
  setOnScreen(js[0]);
  requestAnimationFrame(get_gamepad_data);
return;
}

// change the on-screen data
//function setOnScreen(gpg_orientation, jstick_status, jstick_data) {}
function setOnScreen(jstick_data) {
  var jstick_status = "Disconnected";
  // document.getElementById('state').innerHTML = "State: " + gpg_orientation.state
  // document.getElementById('angle_deg').innerHTML = 'Angle Degrees: ' + gpg_orientation.angle_degrees.toFixed(2) + '&deg;';
  // document.getElementById('angle_dir').innerHTML = 'Angle Direction: ' + gpg_orientation.angle_dir;
  // document.getElementById('force').innerHTML = 'Joystick Force: ' + gpg_orientation.force.toFixed(2);
  if (jstick_data.connected == true) jstick_status = "Connected"
  document.getElementById('status').innerHTML = 'Joystick Connection Status: ' + jstick_status;
  document.getElementById('index').innerHTML = 'Joystick Index: ' + jstick_data.index;
  document.getElementById('id').innerHTML = 'Joystick ID: ' + jstick_data.id;
  document.getElementById('num_buttons').innerHTML = 'Number of Joystick Buttons: ' + jstick_data.buttons.length;
  document.getElementById('num_axes').innerHTML = 'Number of Joystick Axes: ' + jstick_data.axes.length;
  document.getElementById('axis0').innerHTML =  'Value of Axis 0: ' +  Number.parseFloat(jstick_data.axes[0]).toFixed(2);
  document.getElementById('axis1').innerHTML =  'Value of Axis 1: ' +  Number.parseFloat(jstick_data.axes[1]).toFixed(2);
  document.getElementById('axis2').innerHTML =  'Value of Axis 2: ' +  Number.parseFloat(jstick_data.axes[2]).toFixed(2);
  document.getElementById('axis3').innerHTML =  'Value of Axis 3: ' +  Number.parseFloat(jstick_data.axes[3]).toFixed(2);
  document.getElementById('axis4').innerHTML =  'Value of Axis 4: ' +  Number.parseFloat(jstick_data.axes[4]).toFixed(2);
  document.getElementById('button0').innerHTML =  'Value of Button 0: ' +  jstick_data.buttons[0].pressed;
  document.getElementById('button1').innerHTML =  'Value of Button 1: ' +  jstick_data.buttons[1].pressed;
  document.getElementById('button2').innerHTML =  'Value of Button 2: ' +  jstick_data.buttons[2].pressed;
  document.getElementById('button3').innerHTML =  'Value of Button 3: ' +  jstick_data.buttons[3].pressed;
  document.getElementById('button4').innerHTML =  'Value of Button 4: ' +  jstick_data.buttons[4].pressed;
}

function get_data() {
  requestAnimationFrame(get_gamepad_data);
}
</script>
